* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h2,
h3 {
  color: white;
}

span a {
  display: block;
  color: rgba(182, 241, 20, 0.904);
  text-decoration: underline;
  margin-bottom: 30px;
}

.mp4,
.camp,
.icon {
  text-align: center;
}

p {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 1.6rem;
}

.travel {
  margin: 2px 0px 10px 0px;
}

footer p {
  margin-right: 270px;
  margin-top: -10px;
}
